alias(
    name = "{{target.parent_folder}}",
    actual = ":shared",
    visibility = {{ visibility }},
)

cc_library(
    name = "shared",
    linkstatic = 1,
    {%- if target.has_incompatible_targets() %}
    target_compatible_with = select({
        "@rules_roborio_toolchain//constraints/is_roborio:roborio": ["@platforms//:incompatible"],
        "//conditions:default": [],
    }),
    {%- endif %}
    visibility = {{ visibility }},
    deps = [
      {%- for dep in target.dependencies %}
        "@{{dep.repo_name}}//libraries/cpp/{{dep.parent_folder}}:shared",
      {%- endfor %}
    ] + [
        "@{{group.repo_name}}//private/cpp/{{target.parent_folder}}:shared",
    ],
)

cc_library(
    name = "static",
    linkstatic = 1,
    {%- if target.has_incompatible_targets() %}
    target_compatible_with = select({
        "@rules_roborio_toolchain//constraints/is_roborio:roborio": ["@platforms//:incompatible"],
        "//conditions:default": [],
    }),
    {%- endif %}
    visibility = {{ visibility }},
    deps = [
      {%- for dep in target.dependencies %}
        "@{{dep.repo_name}}//libraries/cpp/{{dep.parent_folder}}:static",
      {%- endfor %}
    ] + [
        "@{{group.repo_name}}//private/cpp/{{target.parent_folder}}:static",
    ],
)
{% if target.has_jni %}
cc_library(
    name = "jni",
    visibility = ["//visibility:public"],
    deps = [
        ":{{target.parent_folder}}",
        "@{{group.repo_name}}//private/cpp/{{target.parent_folder}}:jni",
    ],
)
{% endif %}