{%- if "halsim" in target.name -%}
load("@rules_bazelrio//:halsim_defs.bzl", "halsim_cc_binary")
load("@rules_wpi_styleguide//styleguide:cc_styleguide.bzl", "cc_styleguide")

halsim_cc_binary(
    name = "main",
    srcs = ["main.cpp"],
    # deps = ["@com_github_google_glog//:glog"],
    halsim_deps = ["@{{group.repo_name}}//libraries/cpp/{{target.parent_folder}}"],
)
{%- else -%}
load("@rules_wpi_styleguide//styleguide:cc_styleguide.bzl", "cc_styleguide")

cc_binary(
    name = "main",
    srcs = ["main.cpp"],
    tags = ["no-sandbox"],
    deps = ["@{{group.repo_name}}//libraries/cpp/{{target.parent_folder}}"],
)

cc_test(
    name = "test",
    srcs = ["test.cpp"],
    tags = [
        "bazelrio-cpp-test",
        "no-sandbox",
    ],
    deps = [
        "@{{group.repo_name}}//libraries/cpp/{{target.parent_folder}}",
        "@googletest//:gtest_main",
    ],
)
{%- endif %}

cc_styleguide(name = "{{target.parent_folder}}")

