workspace(name = "{{group.sanitized_repo_name}}_gentool")

load("@bazel_tools//tools/build_defs/repo:http.bzl", "http_archive")

# Python, for gentool
http_archive(
    name = "rules_python",
    sha256 = "497ca47374f48c8b067d786b512ac10a276211810f4a580178ee9b9ad139323a",
    strip_prefix = "rules_python-0.16.1",
    url = "https://github.com/bazelbuild/rules_python/archive/refs/tags/0.16.1.tar.gz",
)

local_repository(
    name = "bzlmodrio-gentool",
    path = "../../../gentool",
)

{%- if group.module_dependencies %}
{%- for name, module_dep in group.module_dependencies.items() %}
{% if True or module_dep.use_local_version %}
local_repository(
    name = "{{module_dep.container.repo_name}}-gentool",
    path = "../../{{module_dep.container.repo_name.replace("bzlmodrio", "bzlmodRio")}}/generate",
)
{% else %}
http_archive(
    name = "{{module_dep.container.repo_name}}-gentool",
    sha256 = "{{ module_dep.remote_sha }}",
    strip_prefix = "generate",
    url = "https://github.com/bzlmodRio/{{module_dep.remote_repo}}/releases/download/{{module_dep.container.version}}{{module_dep.container.patch}}/{{module_dep.remote_repo}}-{{module_dep.container.version}}.tar.gz",
)
{% endif %}
{%- endfor %}
{%- endif %}

load("@rules_python//python:pip.bzl", "pip_parse")

pip_parse(
    name = "bzlmodrio-gentool-pip",
    requirements_lock = "@bzlmodrio-gentool//:requirements_lock.txt",
)

load("@bzlmodrio-gentool-pip//:requirements.bzl", "install_deps")

install_deps()

