bazel_dep(name = "{{group.repo_name}}", version = "")
local_path_override(
    module_name = "{{group.repo_name}}",
    path = "..",
)

{{bazel_dependencies.googletest.module_dep()}}
{{bazel_dependencies.rules_cc.module_dep()}}

