load("@bazel_tools//tools/build_defs/repo:http.bzl", "http_archive")

local_repository(
    name = "{{container.repo_name}}",
    path = "..",
)

# Google Test
http_archive(
    name = "googletest",
    sha256 = "{{bazel_dependencies.googletest.sha}}",
    strip_prefix = "googletest-release-{{bazel_dependencies.googletest.version}}",
    urls = ["https://github.com/google/googletest/archive/release-{{bazel_dependencies.googletest.version}}.zip"],
)

load("@{{container.repo_name}}//:maven_deps.bzl", "setup_legacy_setup_toolchains_dependencies")

setup_legacy_setup_toolchains_dependencies()

load("@{{container.repo_name}}//toolchains:load_toolchains.bzl", "load_toolchains")

load_toolchains()

register_toolchains(
{%- for config in container.configs %}
    "@local_{{config.short_name_underscore}}//:macos",
    "@local_{{config.short_name_underscore}}//:linux",
    "@local_{{config.short_name_underscore}}//:windows",
{%- endfor %}
)

