# load("@rules_bazelrio//:java_rules.bzl", "bazelrio_java_binary")

# bazelrio_java_binary(
java_binary(
    name = "main",
    srcs = ["Main.java"],
    deps = [
        "@allwpilib//dependencies/java/{{target.parent_folder}}",
    ],
    main_class = "bazelrio_test.Main",
    
    jvm_flags = [
        "-Djava.library.path=.",
    ],
)
