
bazel_dep(name = "{{target.name.lower()}}", repo_name = "{{target.name}}", version = "")

local_path_override(
    module_name = "{{target.name.lower()}}",
    path = "..",
)




bazel_dep(name = "bazel_skylib", version = "1.2.1")
bazel_dep(name = "platforms", version = "0.0.4")
bazel_dep(name = "rules_cc", version = "0.0.2")
bazel_dep(name = "rules_java", version = "5.1.0")
bazel_dep(name = "rules_python", version = "0.12.0")
bazel_dep(name = "rules_jvm_external", version = "4.5")

bazel_dep(name = "rules_bazelrio", version = "0.0.1")
{%- if False %}
local_path_override(
    module_name = "rules_bazelrio",
    path = "../../../../rules_bazelrio"
)

{% for dep in target.dependencies -%}
{%- if "opencv" not in dep.name or "opencv" in target.name %}
local_path_override(
    module_name = "{{dep.name}}",
    path = "../../../{{dep.parent_folder}}/{{dep.name}}"
)
{%- endif %}
{% endfor %}
{%- endif %}

maven = use_extension("@rules_jvm_external//:extensions.bzl", "maven")

maven.install(
    artifacts = [
        "{{target.group_id}}:{{target.name}}:{{target.version}}",
        {%- for maven_dep in target.maven_deps %}
        "{{maven_dep[0]}}:{{maven_dep[1]}}",
        {%- endfor %}
    ],
    repositories = [
        "https://repo1.maven.org/maven2",
        "https://frcmaven.wpi.edu/release",
    ]
    # lock_file = "//:maven_install.json",
)

use_repo(
    maven,
    "maven",
)