load("@rules_java//java:defs.bzl", "java_import")
{% if target.maven_deps %}
load("@rules_jvm_external//:defs.bzl", "artifact")

{% endif %}java_import(
    name = "{{target.parent_folder}}",
    jars = ["@{{target.import_repo_name}}//jar:file"],
    visibility = ["//visibility:public"],
    deps = [
{%- for dep in target.sorted_dependencies() %}
        "{{dep}}",
{%- endfor %}
{%- for maven_dep in target.maven_deps %}
        artifact("{{maven_dep[0]}}"),
{%- endfor %}
    ],
)

