{%- raw -%}
name: Build example project
on: [pull_request, push]
jobs:
  build_windows:
    strategy:
      fail-fast: false
      matrix:
        include:
        - { os: windows-latest, config: "--config=windows" }
        - { os: ubuntu-latest, config: "--config=linux" }
        - { os: macos-latest, config: "--config=macos" }
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - run: bazel build //... -k --verbose_failures
      working-directory: tests
{%- endraw %}