{%- raw -%}
name: Build example project
on: [pull_request, push]
jobs:
  build_windows:
    strategy:
      fail-fast: false
      matrix:
        include:
        - { os: windows-latest, command: "test", config: "--config=windows" }
        - { os: ubuntu-latest,  command: "test", config: "--config=linux --test_tag_filters=-bazelrio-java-test" }
        - { os: macos-latest,   command: "build", config: "--config=macos --test_tag_filters=-bazelrio-java-test" }
    name: "Build Tests - ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - run: bazel ${{ matrix.command }} //... -k ${{ matrix.config }} --verbose_failures
      working-directory: tests
{%- endraw %}