def get_{{group.sanitized_repo_name}}_java_dependencies():
    artifacts = [
        {%- for maven_dep in group.get_all_maven_dependencies() %}
        "{{maven_dep[0]}}:{{maven_dep[1]}}",
        {%- endfor %}
    ]
    repositories = [
        "https://repo1.maven.org/maven2",
        "https://frcmaven.wpi.edu/release",
        {%- for extra_maven_repos in group.extra_maven_repos %}
        "{{extra_maven_repos}}",
        {%- endfor %}
    ]

    return artifacts, repositories

