module(
    name = "{{group.repo_name}}",
    version = "{{group.sanitized_version}}",
    compatibility_level = {{group.year}},
)

bazel_dep(name = "platforms", version = "0.0.6")
bazel_dep(name = "rules_java", version = "5.4.0")
{%- if group.has_direct_maven_deps() %}
bazel_dep(name = "rules_jvm_external", version = "4.5")
{%- endif %}
bazel_dep(name = "rules_bazelrio", version = "{{mandetory_dependencies.rules_bazelrio.version}}")
{%- if not no_roborio %}
bazel_dep(name = "rules_bzlmodrio_toolchains", version = "{{mandetory_dependencies.rules_roborio_toolchain.version}}")
{% endif %}
{%- for name, module_dep in group.module_dependencies.items() %}
bazel_dep(name = "{{name}}", version = "{{module_dep.container.version}}")
{%- endfor %}
{%- if group.has_direct_maven_deps() %}

maven = use_extension("@rules_jvm_external//:extensions.bzl", "maven")
maven.install(
    artifacts = [
        {%- for maven_dep in group.get_all_maven_dependencies2() %}
        "{{maven_dep[0]}}:{{maven_dep[1]}}",
        {%- endfor %}
    ],
    repositories = [
        "https://repo1.maven.org/maven2",
        "https://frcmaven.wpi.edu/release",
        {%- for extra_maven_repos in group.extra_maven_repos %}
        "{{extra_maven_repos}}",
        {%- endfor %}
    ],
)
use_repo(
    maven,
    "maven",
)

{%- endif %}

setup_{{group.sanitized_repo_name}}_cpp_dependencies = use_extension("//:maven_cpp_deps.bzl", "setup_{{group.sanitized_repo_name}}_cpp_dependencies")
use_repo(
    setup_{{group.sanitized_repo_name}}_cpp_dependencies,
    {{group.sorted_cc_deps()}}
)

setup_{{group.sanitized_repo_name}}_java_dependencies = use_extension("//:maven_java_deps.bzl", "setup_{{group.sanitized_repo_name}}_java_dependencies")
use_repo(
    setup_{{group.sanitized_repo_name}}_java_dependencies,
    {%- for java_dep in group.sorted_java_deps() %}
    "{{java_dep.import_repo_name}}",
    {%- endfor %}
)

