load("@bazel_tools//tools/build_defs/repo:http.bzl", "http_archive")

def download_styleguide_deps():
{%- if mandetory_dependencies.rules_pmd.use_local_version %}
    native.local_repository(
        name = "rules_pmd",
        path = "../../rules_pmd",
    )
{%- else %}
    http_archive(
        name = "rules_pmd",
        sha256 = "{{ mandetory_dependencies.rules_pmd.sha }}",
        strip_prefix = "rules_pmd-{{ mandetory_dependencies.rules_pmd.version }}",
        url = "https://github.com/bzlmodRio/rules_pmd/archive/refs/tags/{{ mandetory_dependencies.rules_pmd.version }}.tar.gz",
    )
{%- endif %}
{%- if mandetory_dependencies.rules_checkstyle.use_local_version %}
    native.local_repository(
        name = "rules_checkstyle",
        path = "../../rules_checkstyle",
    )
{%- else %}
    http_archive(
        name = "rules_checkstyle",
        sha256 = "{{ mandetory_dependencies.rules_checkstyle.sha }}",
        strip_prefix = "rules_checkstyle-{{ mandetory_dependencies.rules_checkstyle.version }}",
        url = "https://github.com/bzlmodRio/rules_checkstyle/archive/refs/tags/{{ mandetory_dependencies.rules_checkstyle.version }}.tar.gz",
    )
{%- endif %}
{%- if mandetory_dependencies.rules_wpiformat.use_local_version %}
    native.local_repository(
        name = "rules_wpiformat",
        path = "../../rules_wpiformat",
    )
{%- else %}
    http_archive(
        name = "rules_wpiformat",
        sha256 = "{{ mandetory_dependencies.rules_wpiformat.sha }}",
        strip_prefix = "rules_wpiformat-{{ mandetory_dependencies.rules_wpiformat.version }}",
        url = "https://github.com/bzlmodRio/rules_wpiformat/archive/refs/tags/{{ mandetory_dependencies.rules_wpiformat.version }}.tar.gz",
    )
{%- endif %}

