from get_{{library_name}}_dependencies import get_{{library_name}}_dependencies


def main():
    group = get_{{library_name}}_dependencies()
    print(group.version)


if __name__ == "__main__":
    main()

