load("@bazel_tools//tools/build_defs/repo:http.bzl", "http_archive")

def download_dependencies():
    # JVM External
{{ bazel_dependencies.rules_jvm_external.download_repository(4, maybe=False)}}

    # Bazelrio Rules
{{ mandatory_dependencies.rules_bazelrio.download_repository(4) }}
{%- if not no_roborio %}

    # Roborio Toolchain
{{ mandatory_dependencies.rules_bzlmodrio_toolchain.download_repository(4) }}
{%- endif %}

    ########################
    # bzlmodRio dependencies
{% for name, module_dep in group.module_dependencies.items() %}
    # {{name}}
{{ module_dep.download_repository(4) }}
{% endfor %}
    ########################

