bazel_dep(name = "{{group.repo_name}}", version = "")
local_path_override(
    module_name = "{{group.repo_name}}",
    path = "..",
)

{{ mandatory_dependencies.rules_bzlmodrio_toolchain.local_module_override() }}
{{ mandatory_dependencies.rules_pmd.local_module_override() }}
{{ mandatory_dependencies.rules_checkstyle.local_module_override() }}
{{ mandatory_dependencies.rules_spotless.local_module_override() }}
{{ mandatory_dependencies.rules_wpiformat.local_module_override() }}
{{ mandatory_dependencies.rules_wpi_styleguide.local_module_override() }}
{%- for name, module_dep in group.module_dependencies.items() %}
{{ module_dep.local_module_override() }}
{%- endfor %}

{{bazel_dependencies.googletest.module_dep()}}
{{bazel_dependencies.rules_cc.module_dep()}}
{{bazel_dependencies.rules_java.module_dep()}}
{{bazel_dependencies.rules_jvm_external.module_dep()}}
{{mandatory_dependencies.rules_bazelrio.module_dep()}}
{{mandatory_dependencies.rules_bzlmodrio_toolchain.module_dep()}}

{%- for name, module_dep in group.module_dependencies.items() %}
bazel_dep(name = "{{name}}", version = "{{module_dep.container.version}}{{module_dep.container.patch}}")
{%- endfor %}
{{mandatory_dependencies.rules_pmd.module_dep()}}
{{mandatory_dependencies.rules_checkstyle.module_dep()}}
{{mandatory_dependencies.rules_wpiformat.module_dep()}}
{{mandatory_dependencies.rules_wpi_styleguide.module_dep()}}
{{mandatory_dependencies.rules_spotless.module_dep()}}
{% if group.java_deps %}
{{mandatory_dependencies.rules_bzlmodrio_jdk.module_dep()}}
{% endif %}

maven = use_extension("@rules_jvm_external//:extensions.bzl", "maven")
maven.install(
    artifacts = [
        "org.junit.jupiter:junit-jupiter-api:5.8.2",
        "org.junit.jupiter:junit-jupiter-params:5.8.2",
        "org.junit.jupiter:junit-jupiter-engine:5.8.2",
        "org.junit.platform:junit-platform-commons:1.6.1",
        "org.junit.platform:junit-platform-console:1.6.1",
        "org.junit.platform:junit-platform-engine:1.6.1",
        "org.junit.platform:junit-platform-launcher:1.6.1",
        "org.junit.platform:junit-platform-suite-api:1.6.1",
    ],
    repositories = [
        "https://repo1.maven.org/maven2",
    ],
)
use_repo(
    maven,
    "maven",
)

