bazel_dep(name = "{{group.repo_name}}", version = "")
local_path_override(
    module_name = "{{group.repo_name}}",
    path = "..",
)

{%- if mandetory_dependencies.rules_roborio_toolchain.use_local_version %}

local_path_override(
    module_name = "rules_bzlmodrio_toolchains",
    path = "../../rules_bzlmodrio_toolchains",
)
{%- endif %}
{%- if mandetory_dependencies.rules_pmd.use_local_version %}
local_path_override(
    module_name = "rules_pmd",
    path = "../../rules_pmd",
)
{%- endif %}
{%- if mandetory_dependencies.rules_checkstyle.use_local_version %}
local_path_override(
    module_name = "rules_checkstyle",
    path = "../../rules_checkstyle",
)
{%- endif %}
{%- if mandetory_dependencies.rules_spotless.use_local_version %}
local_path_override(
    module_name = "rules_spotless",
    path = "../../rules_spotless",
)
{%- endif %}
{%- if mandetory_dependencies.rules_wpiformat.use_local_version %}
local_path_override(
    module_name = "rules_wpiformat",
    path = "../../rules_wpiformat",
)
{%- endif %}
{%- if mandetory_dependencies.rules_wpi_styleguide.use_local_version %}
local_path_override(
    module_name = "rules_wpi_styleguide",
    path = "../../rules_wpi_styleguide",
)
{%- endif %}
{%- for name, module_dep in group.module_dependencies.items() %}
{%- if module_dep.use_local_version %}

local_path_override(
    module_name = "{{name}}",
    path = "{{module_dep.local_rel_folder}}",
)
{%- endif %}
{%- endfor %}

bazel_dep(name = "googletest", version = "{{bazel_dependencies.googletest.version}}")
bazel_dep(name = "rules_cc", version = "{{bazel_dependencies.rules_cc.version}}")
bazel_dep(name = "rules_jvm_external", version = "{{bazel_dependencies.rules_jvm_external.version}}")
bazel_dep(name = "rules_bazelrio", version = "{{mandetory_dependencies.rules_bazelrio.version}}")
bazel_dep(name = "rules_bzlmodrio_toolchains", version = "{{mandetory_dependencies.rules_roborio_toolchain.version}}")
{%- for name, module_dep in group.module_dependencies.items() %}
bazel_dep(name = "{{name}}", version = "{{module_dep.container.version}}{{module_dep.container.patch}}")
{%- endfor %}
bazel_dep(name = "rules_pmd", version = "{{mandetory_dependencies.rules_pmd.version}}")
bazel_dep(name = "rules_checkstyle", version = "{{mandetory_dependencies.rules_checkstyle.version}}")
bazel_dep(name = "rules_wpiformat", version = "{{mandetory_dependencies.rules_wpiformat.version}}")
bazel_dep(name = "rules_wpi_styleguide", version = "{{mandetory_dependencies.rules_wpi_styleguide.version}}")
bazel_dep(name = "rules_spotless", version = "{{mandetory_dependencies.rules_spotless.version}}")

maven = use_extension("@rules_jvm_external//:extensions.bzl", "maven")
maven.install(
    artifacts = [
        "org.junit.jupiter:junit-jupiter-api:5.8.2",
        "org.junit.jupiter:junit-jupiter-params:5.8.2",
        "org.junit.jupiter:junit-jupiter-engine:5.8.2",
        "org.junit.platform:junit-platform-commons:1.6.1",
        "org.junit.platform:junit-platform-console:1.6.1",
        "org.junit.platform:junit-platform-engine:1.6.1",
        "org.junit.platform:junit-platform-launcher:1.6.1",
        "org.junit.platform:junit-platform-suite-api:1.6.1",
    ],
    repositories = [
        "https://repo1.maven.org/maven2",
    ],
)
use_repo(
    maven,
    "maven",
)

