load("@bazel_tools//tools/build_defs/repo:http.bzl", "http_archive")

# My repository!
local_repository(
    name = "{{group.repo_name}}",
    path = "../",
)

# Google Test
http_archive(
    name = "googletest",
    sha256 = "{{bazel_dependencies.googletest.sha}}",
    strip_prefix = "googletest-release-{{bazel_dependencies.googletest.version}}",
    urls = ["https://github.com/google/googletest/archive/release-{{bazel_dependencies.googletest.version}}.zip"],
)

load("@{{group.repo_name}}//private/non_bzlmod_dependencies:download_dependencies.bzl", "download_dependencies")

download_dependencies()

load("@{{group.repo_name}}//private/non_bzlmod_dependencies:setup_dependencies.bzl", {% if group.has_any_maven_deps() %}"get_java_dependenicies", {% endif %}"setup_dependencies")

setup_dependencies()
{% if group.java_deps %}
load("@rules_jvm_external//:defs.bzl", "maven_install")

maven_artifacts, maven_repositories = {% if group.has_any_maven_deps() %}get_java_dependenicies(){% else %}[], [
    "https://repo1.maven.org/maven2",
    "https://frcmaven.wpi.edu/release",
]{%endif%}

# Add junit
maven_artifacts += [
    "org.junit.jupiter:junit-jupiter-api:5.8.2",
    "org.junit.jupiter:junit-jupiter-params:5.8.2",
    "org.junit.jupiter:junit-jupiter-engine:5.8.2",
    "org.junit.platform:junit-platform-commons:1.6.1",
    "org.junit.platform:junit-platform-console:1.6.1",
    "org.junit.platform:junit-platform-engine:1.6.1",
    "org.junit.platform:junit-platform-launcher:1.6.1",
    "org.junit.platform:junit-platform-suite-api:1.6.1",
]

maven_install(
    name = "maven",
    artifacts = maven_artifacts,
    repositories = maven_repositories,
    # maven_install_json = "//build_scripts/bazel/deps:maven_install.json",
)
{% endif %}
#####################
# Styleguide
#####################
{{ mandatory_dependencies.rules_pmd.maybe_local_repository() }}
{{ mandatory_dependencies.rules_checkstyle.maybe_local_repository() }}
{{ mandatory_dependencies.rules_spotless.maybe_local_repository() }}
{{ mandatory_dependencies.rules_wpiformat.maybe_local_repository() }}
{{ mandatory_dependencies.rules_wpi_styleguide.download_repository(0, native=False) }}

load("@rules_wpi_styleguide//dependencies:load_rule_dependencies.bzl", "load_styleguide_rule_dependencies")
load_styleguide_rule_dependencies()

load("@rules_wpi_styleguide//dependencies:load_dependencies.bzl", "load_styleguide_dependencies")
load_styleguide_dependencies()

load("@rules_wpi_styleguide//dependencies:setup_styleguide.bzl", "setup_styleguide")
setup_styleguide()

load("@rules_wpi_styleguide//dependencies:load_pins.bzl", "load_styleguide_pins")
load_styleguide_pins()
#####################

