build --experimental_enable_bzlmod
build --copt=/std:c++20
build --copt=/Zc:preprocessor
build --copt=/wd5105
# build --registry=file:///C:/Users/PJ/Documents/GitHub/bazelrio_bzlmod/bazel-central-registry
build --registry=https://raw.githubusercontent.com/pjreiniger/bazel-central-registry/megadiff/
