load("@rules_cc//cc:defs.bzl", "cc_library")

JNI_PATTERN=[
    "**/*jni.dll",
    "**/*jni.so*",
    "**/*jni.dylib",
    "**/*_java*.dll",
    "**/lib*_java*.dylib",
    "**/lib*_java*.so",
]

static_srcs = glob([
        "**/*.lib",
        "**/*.a"
    ],
    exclude=["**/*jni.lib"]
)
shared_srcs = glob([
        "**/*.dll",
        "**/*.so*",
        "**/*.dylib",
    ],
    exclude=JNI_PATTERN + ["**/*.so.debug"]
)
shared_jni_srcs = glob(JNI_PATTERN, exclude=["**/*.so.debug"])

{%- if target.get_shared_library_interface_select() != "," %}
filegroup(
    name = "shared_interface",
    srcs = static_srcs,
    visibility = ["@{{group.repo_name}}//:__subpackages__"],
)
{%- endif %}

{% if target.get_shared_library_select() != "," -%}

filegroup(
    name = "shared",
    srcs = shared_srcs,
    visibility = ["@{{group.repo_name}}//:__subpackages__"],
)
{%+ endif %}
{%- if target.has_jni %}

filegroup(
    name = "jni",
    srcs = shared_jni_srcs,
    visibility = ["@{{group.repo_name}}//:__subpackages__"],
)
{%- endif %}

