{%- raw -%}
name: Auto Update
on: [pull_request, push]
# on:
#   workflow_dispatch:
#   push:
#     tags:
#     - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  publish_module:
    name: "Publish Module"
    runs-on: ubuntu-latest
    steps:
    # Checkout repository
    - uses: actions/checkout@v3
      with:
{%- endraw %}
        path: rules/{{group.repo_name}}
{% raw %}
    # Checkout gentool
    - uses: actions/checkout@v3
      with:
        repository: 'bzlmodRio/gentool.git'
        fetch-depth: 0
        path: gentool
        ref: refactor_dev


{%- endraw %}
{% for name, module_dep in group.module_dependencies.items() %}
    # Checkout name
    - uses: actions/checkout@v3
      with:
        repository: 'bzlmodRio/{{name}}.git'
        fetch-depth: 0
        path: rules/{{group.repo_name}}/{{module_dep.local_rel_folder}}
        ref: refactor_dev
{% endfor %}
{% raw %}


    # Checkout BCR
    - uses: actions/checkout@v3
      with:
        repository: 'bzlmodRio/bazel-central-registry.git'
        fetch-depth: 0
        path: bazel-central-registry
        ref: refactor_dev

    # Run update
    - run: bazel run //:auto_update
{%- endraw %}
      working-directory: rules/{{group.repo_name}}/generate
{%- raw %}

    # Create pull requests
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v4
      env:
        GITHUB_TOKEN: ${{ secrets.AUTO_UPDATE_KEY }}
      with:
{%- endraw %}
        path: rules/{{group.repo_name}}
{%- raw %}
        base: refactor_dev
        token: ${{ secrets.AUTO_UPDATE_KEY }}
        reviewers: pjreiniger
{%- endraw %}
        branch: autoupdate
        title: "Auto-update"

