module(
    name = "{{target.name}}",
    version = "{{target.version}}",
    compatibility_level = 1,
)

bazel_dep(name = "rules_jvm_external", version = "4.5")

{% for dep in target.dependencies %}
bazel_dep(name = "{{dep.name}}", version = "{{dep.version}}")
{%- endfor %}

maven = use_extension("@rules_jvm_external//:extensions.bzl", "maven")

maven.install(
    artifacts = [
        "{{target.group_id}}:{{target.name}}:{{target.version}}",
        {%- for maven_dep in target.maven_deps %}
        "{{maven_dep[0]}}:{{maven_dep[1]}}",
        {%- endfor %}
    ],
    repositories = [
        "https://frcmaven.wpi.edu/release",
    ]
    # lock_file = "//:maven_install.json",
)

use_repo(
    maven,
    "maven",
)