load("@rules_jvm_external//:defs.bzl", "artifact")


java_library(
    name = "{{target.parent_folder}}",
    visibility = ["//visibility:public"],
    exports = [
        artifact("{{target.group_id}}:{{target.name}}"),
{%- for dep in target.dependencies %}
{%- if dep.has_jni %}
{%- if "opencv" in dep.parent_folder %}
        "@opencv-cpp//:jni",
{%- else %}
        "@allwpilib//dependencies/cpp/{{dep.parent_folder}}:jni",
{%- endif %}
{%- elif "java" in dep.name %}
{%- if "opencv" in dep.parent_folder %}
        "@opencv-java//:opencv",
{%- else %}
        "@allwpilib//dependencies/java/{{dep.parent_folder}}",
{%- endif %}
{%- endif %}
{%- endfor %}
{%- for maven_dep in target.maven_deps %}
        artifact("{{maven_dep[0]}}"),
{%- endfor %}
    ],
)

