load("@rules_cc//cc:defs.bzl", "cc_library")

alias(
    name = "{{target.parent_folder}}",
    actual = {% if target.get_shared_library_select() != "," %}":shared"{% else %}":static"{%endif%},
    visibility = {{ visibility }},
)

{%- if target.headers %}
alias(
    name = "header_files",
    actual = "@{{group.repo_name}}//private/cpp/{{target.parent_folder}}:header_files",
    visibility = {{ visibility }},
)
{%- endif %}

{% if target.get_static_library_select() != "," %}
alias(
    name = "static",
    {%- if target.get_static_incompatible_targets() %}
    target_compatible_with = select({
        {%- for toolchain in target.get_static_incompatible_targets() %}
        "{{toolchain}}": ["@platforms//:incompatible"],
        {%- endfor %}
        "//conditions:default": [],
    }),
    {%- endif %}
    visibility = {{ visibility }},
    actual = "@{{group.repo_name}}//private/cpp/{{target.parent_folder}}:static",
)

{% endif %}

{% if target.get_shared_library_select() != "," %}
alias(
    name = "shared",
    {%- if target.get_shared_incompatible_targets() %}
    target_compatible_with = select({
        {%- for toolchain in target.get_shared_incompatible_targets() %}
        "{{toolchain}}": ["@platforms//:incompatible"],
        {%- endfor %}
        "//conditions:default": [],
    }),
    {%- endif %}
    visibility = {{ visibility }},
    actual = "@{{group.repo_name}}//private/cpp/{{target.parent_folder}}:shared",
)

alias(
    name = "shared_raw",
    actual = "@{{group.repo_name}}//private/cpp/{{target.parent_folder}}:shared_raw",
    visibility = {{ visibility }},
)
{% endif %}
{%- if target.has_jni %}

alias(
    name = "jni",
    visibility = ["//visibility:public"],
    actual = "@{{group.repo_name}}//private/cpp/{{target.parent_folder}}:jni",
)
{%- endif %}

