
module(
    name = "{{group.repo_name}}",
    version = "{{group.version}}",
)

bazel_dep(name = "bazel_skylib", version = "1.1.1")
bazel_dep(name = "platforms", version = "0.0.4")
bazel_dep(name = "rules_cc", version = "0.0.2")
bazel_dep(name = "rules_java", version = "5.1.0")
bazel_dep(name = "rules_python", version = "0.12.0")
bazel_dep(name = "rules_jvm_external", version = "4.4.2")

bazel_dep(name = "rules_bazelrio", version = "0.0.1")

{%- for name, module_dep in group.module_dependencies.items() %}
bazel_dep(name = "{{name}}", version = "{{module_dep.version}}")
{%- endfor %}

maven = use_extension("@rules_jvm_external//:extensions.bzl", "maven")
maven.install(
    artifacts = [
        {%- for maven_dep in group.get_all_maven_dependencies() %}
        "{{maven_dep[0]}}:{{maven_dep[1]}}",
        {%- endfor %}
    ],
    repositories = [
        "https://repo1.maven.org/maven2",
        "https://frcmaven.wpi.edu/release",
    ]
)

use_repo(
    maven,
    "maven",
)


setup_{{group.repo_name}}_dependencies = use_extension("//dependencies:maven_cpp_deps.bzl", "setup_{{group.repo_name}}_dependencies")
use_repo(
    setup_{{group.repo_name}}_dependencies,
    
    
{%- for cpp_dep in group.cc_deps %}
    {%- if cpp_dep.headers %}
    "{{cpp_dep.get_archive_name('headers')}}",
    {%- endif %}

    {%- for resource in cpp_dep.resources %}
    "{{cpp_dep.get_archive_name(resource)}}",
    {%- endfor %}
{%- endfor %}

    
    {%- for tool_dep in group.java_native_tools %}
    {%- for resource in tool_dep.resources %}
    "{{tool_dep.get_archive_name(resource)}}",
    {%- endfor %}
    {%- endfor %}

    {%- for tool_dep in group.executable_tools %}
    {%- for resource in tool_dep.resources %}
    "{{tool_dep.get_archive_name(resource)}}",
    {%- endfor %}
    {%- endfor %}
)