workspace(name = "{{group.repo_name}}")

load("@bazel_tools//tools/build_defs/repo:http.bzl", "http_archive")

{% if group.include_wpiformat %}
# WPI Formatter
{{  mandatory_dependencies.rules_wpiformat.download_repository(0,native=False) }}

{{ bazel_dependencies.rules_python.download_repository(0, maybe=False) }}

load("@rules_wpiformat//dependencies:load_rule_dependencies.bzl", "load_wpiformat_rule_dependencies")

load_wpiformat_rule_dependencies()

load("@rules_wpiformat//dependencies:load_dependencies.bzl", "load_wpiformat_dependencies")

load_wpiformat_dependencies()

load("@rules_wpiformat_pip//:requirements.bzl", "install_deps")


install_deps()
{% endif %}

{% if group.has_skylib %}
{{ bazel_dependencies.bazel_skylib.download_repository(0, maybe=False) }}
{% endif %}

# Rule Dependencies
load("//dependencies:load_rule_dependencies.bzl", "load_{{ group.short_name }}_rule_dependencies")

load_{{ group.short_name }}_rule_dependencies()

# Transitive Dependencies

load("//dependencies:load_dependencies.bzl", "load_{{ group.short_name }}_dependencies")

load_{{ group.short_name }}_dependencies()

{% if group.is_java %}
# Pin the maven install
load("@rules_{{ group.short_name }}_dependencies//:defs.bzl", "pinned_maven_install")

pinned_maven_install()
{% endif %}
{% if group.is_python %}
load("@rules_{{ group.short_name }}_pip//:requirements.bzl", "install_deps")

install_deps()

{% endif %}

