load("//toolchains:configure_cross_compiler.bzl", "configure_cross_compiler")

def load_toolchains():
{%- for config in container.configs %}
    configure_cross_compiler(
        name = "local_{{config.short_name_underscore}}",
        compiler = "{{config.short_name}}",
        bin_subfolder = "{{config.bin_subfolder}}",
        bin_prefix = "{{config.bin_prefix}}",
        sysroot_subfolder = "{{config.sysroot_subfolder}}",
        cxx_version = "{{config.cxx_version}}",
        sysroot_include_folder = "{{config.sysroot_include_folder}}",
        repo_shortname = "{{config.short_name_underscore}}",
    )
{%- endfor %}

