load("@bazel_tools//tools/build_defs/repo:http.bzl", "http_archive")
load("@bazel_tools//tools/build_defs/repo:utils.bzl", "maybe")

def load_{{ group.short_name }}_rule_dependencies():
{% if group.is_java %}
    # Java
    {{ bazel_dependencies.rules_java.download_repository(4)}}

    # JVM External
    {{ bazel_dependencies.rules_jvm_external.download_repository(4)}}
{% endif %}
{% if group.is_python %}
    maybe(
        http_archive,
        name = "rules_python",
        sha256 = "48a838a6e1983e4884b26812b2c748a35ad284fd339eb8e2a6f3adf95307fbcd",
        strip_prefix = "rules_python-0.16.2",
        url = "https://github.com/bazelbuild/rules_python/archive/refs/tags/0.16.2.tar.gz",
    )
{% endif %}
{% if group.has_protobuf %}
    maybe(
        http_archive,
        name = "rules_proto",
        sha256 = "dc3fb206a2cb3441b485eb1e423165b231235a1ea9b031b4433cf7bc1fa460dd",
        strip_prefix = "rules_proto-5.3.0-21.7",
        urls = [
            "https://github.com/bazelbuild/rules_proto/archive/refs/tags/5.3.0-21.7.tar.gz",
        ],
    )
{% endif %}

