load("@rules_jvm_external//:defs.bzl", "maven_install")
load("@rules_jvm_external//:specs.bzl", "maven")

def load_{{ short_name }}_dependencies():
    maven_install(
        name = "{{group.repo_name}}_dependencies",
        artifacts = [
        {%- for maven_dep in group.get_all_maven_dependencies2() %}
        "{{maven_dep[0]}}:{{maven_dep[1]}}",
        {%- endfor %}
        ],
        repositories = [
            "https://repo1.maven.org/maven2",
            "https://repo.maven.apache.org/maven2/",
        ],
        maven_install_json = "@{{group.repo_name}}//:{{group.repo_name}}_dependencies_install.json",
    )

