platform(
    name = "{{config.short_name_no_dash}}",
    constraint_values = [
        "@platforms//os:linux",
        "@platforms//cpu:armv7",
        "//constraints/is_{{config.short_name_no_dash}}:true",
    ],
)

