{%- if "halsim" in target.name -%}
load("@rules_bazelrio//:halsim_defs.bzl", "halsim_cc_binary")

halsim_cc_binary(
    name = "main",
    srcs = ["main.cpp"],
    # deps = ["@com_github_google_glog//:glog"],
    halsim_deps = ["@{{target.name.lower()}}//:{{target.parent_folder}}"],
)
{%- else -%}
cc_binary(
    name = "main",
    srcs = ["main.cpp"],
    # deps = ["@com_github_google_glog//:glog"],
    deps = ["@{{target.name.lower()}}//:{{target.parent_folder}}"],
)
{%- endif %}