module(
    name = "{{container.repo_name}}",
    version = "{{container.version}}",
    compatibility_level = {{container.year}},
)

bazel_dep(name = "platforms", version = "{{bazel_dependencies.platforms.version}}")
bazel_dep(name = "rules_cc", version = "{{bazel_dependencies.rules_cc.version}}")

deps = use_extension("//:maven_deps.bzl", "deps")
use_repo(
    deps,
{%- for config in container.configs %}
    "bazelrio_{{config.short_name_underscore}}_toolchain_linux",
    "bazelrio_{{config.short_name_underscore}}_toolchain_macos",
    "bazelrio_{{config.short_name_underscore}}_toolchain_windows",
{%- endfor %}
)

sh_configure = use_extension("@{{container.repo_name}}//:extensions.bzl", "sh_configure")
use_repo(sh_configure, {%- for config in container.configs %}"local_{{config.short_name_underscore}}", {% endfor %})


register_toolchains(
{%- for config in container.configs %}
    "@local_{{config.short_name_underscore}}//:macos",
    "@local_{{config.short_name_underscore}}//:linux",
    "@local_{{config.short_name_underscore}}//:windows",
{%- endfor %}
)

