workspace(name = "{{group.repo_name}}")


load("@{{group.repo_name}}//:maven_deps.bzl", "setup_legacy_setup_toolchains_dependencies")

setup_legacy_setup_toolchains_dependencies()

load("@{{group.repo_name}}//toolchains:load_toolchains.bzl", "load_toolchains")

load_toolchains()

register_toolchains(
{%- for config in group.configs %}
    "@local_{{config.short_name_underscore}}//:macos",
    "@local_{{config.short_name_underscore}}//:linux",
    "@local_{{config.short_name_underscore}}//:windows",
{%- endfor %}
)

load("@bazel_tools//tools/build_defs/repo:http.bzl", "http_archive")
{{ bazel_dependencies.bazel_skylib.download_repository(indent_num=0, maybe=False) }}
